<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      /**body { font-family: 'Liberation Sans'; }*/ .container{ width: 100%;
      margin: 0 auto; } .header { position: fixed; top: 0px; left: 0px; right:
      0px; height: 100px; } .footer { position: fixed; bottom: 0px; left: 0px;
      right: 0px; height: 20px; } body { font-family: 'Arial' } table{ width:
      100%; } table,th, td { page-break-inside: auto; } .strong { font-weight:
      bold; } .bordered { border: 1px solid black; } .font-10 { font-size: 10px;
      } .font-12 { font-size: 12px; } .font-14 {font-size: 14px; } .font-16 {
      font-size: 16px; } .font-18 { font-size:18px; }.font-24 { font-size:24px;
      } .extra-spacing-tr { height: 20px; } .header { height: 60px; } tr
      {page-break-inside: avoid; page-break-after: auto; } thead {
      display:table-header-group; } tfoot { display: table-footer-group; }
      .to_title{ margin-top: 0px;}.to_title_div{ text-align: center; }
      .to_content{page-break-inside: auto; margin-top: 120px; margin-left: 40px;
      margin-right: 40px; } .to_number{margin-right: 100px;} .employee_table{
      }.recommending_approval{ display: flex; justify-content: space-between; }
      .underline{ border-bottom:1px solid black } #userBackground tr td, #userBackground
      tr th{ padding: 5px; } #userBackground{ page-break-after: always; } #f_table
      th,#f_table td,#userBackground th,#userBackground td{ border: 1px solid black; }
      #f_table,#userBackground, #ildpTable{ border-collapse: collapse; } 
      #userBackground{ border: 1px solid black; } #ildpTable  td{ border:
      1px solid black; padding: 2px;width:  11.11%;} 
      #approverTable{border-collapse: collapse;} #approverTable td{border: 1px solid black; padding: 10px; width: 11.11%;}
      #ildpTable th,#ildpTable td { page-break-inside: auto; } 

    </style>
  </head>

  <body>
    {{#each this}}

      <div class='container'>
        <div class='header' style="display: grid; justify-items:center">
          <div style="display:flex; justify-items:center">
            {{!-- <img
            src='data:image/png;base64, {{headerImg}}'
            width='110px'
            height="110px"
            alt=''
          /> --}}
          <div style="display: grid; justify-items:center;text-align:center; font-size:2.5rem; font-family:'Times New Roman', Times, serif">
            PATIENT RECORD
          </div>
          </div>
        </div>
        <div class='footer' style="font-size: 10px;">
          {{formatted}}
          • This is a system generated document. No signature is required.
          {{!-- <img
            style='position:fixed; bottom:0; left:0;right:0;'
            src='data:image/png;base64, {{footer_img}}'
            width='100%'
            height="80px"
            alt=''
          /> --}}
        </div>
          <div style='width: 100%;'>
            <table
              style='margin:0 auto; width: 100%; page-break-inside:auto; table-layout:fixed'
            >
              {{! // Add this css to make main table fixed, child tables will still scroll }}
              <thead>
                <tr>
                  <td colspan='2'>
                    <div style='height: 50px;'></div>
                  </td>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan='2'>
                    <div style='height: 10px;'></div>
                  </td>
                </tr>
              </tfoot>
        
              <tbody class="font-12">  
                {{!-- <tr>
                  <td colspan="12" class="font-14"> 
                    <div style="text-align:left; border:1px solid black; padding:10px;background-color:#0c87c7; color:white;" class="strong">
                    <div style=" margin-left:10px">
                      Personal Details
                    </div> 
                  </div>
                  </td>
                </tr> --}}
                <tr>
                  <td colspan="6">
                    <div>
                      Patient Name: <u>{{medicalDataInfo.name}}</u>
                  </div>
                  </td>
                  <td colspan="6">
                    <div>
                      Last Menstrual Period: <u>{{formatDate medicalDataInfo.menstrual}}</u>
                  </div>
                  </td>
                </tr>
                <tr>
                    <td colspan="6" rowspan="3">
                        <div>Address: <u>{{patientData.address}}</u></div>
                    </td>
                      <td colspan="6">
                        <div>Expected Delivery Date: <u>{{formatDate medicalDataInfo.deliveryDate}}</u></div>
                    </td>
                </tr>
                  <tr>
                    
                      <td colspan="6">
                        <div>No. of Previous Pregnancies: <u>{{medicalDataInfo.prevPreg}}</u></div>
                    </td>
                </tr>
                  <tr>
                    
                      <td colspan="6">
                        <div>No. of Live Births: <u>{{medicalDataInfo.liveBirths}}</u></div>
                    </td>
                </tr>
                 <tr>
                    <td colspan="6" >
                        <div>Contact No.: <u>{{patientData.contact_no}}</u></div>
                    </td>
                      <td colspan="6">
                        <div>Date of last Delivery: <u>{{formatDate medicalDataInfo.deliveryDate}}</u></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" >
                        <div>Birthday: <u>{{formatDate patientData.b_date}}</u></div>
                    </td>
                      <td colspan="6">
                        <div>Method of Previous Deliveries: <u>{{ medicalDataInfo.deliveryMethod}}</u></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" >
                        <div>Age:{{newAge}}</div>
                    </td>
                </tr>
                  <tr>
                    <td colspan="6" >
                        <div>Name of Spouse: <u>{{patientData.spouse}}</u></div>
                    </td>
                     <td colspan="6" >
                        <div>Referred by: <u>{{medicalDataInfo.doctor_name}}</u></div>
                    </td>
                </tr>
               
                <tr>
                    <td colspan="12" >
                      <div width="100%">
                    
                        <table id="userBackground" style="width: 100%; margin-top:20px" class="font-12">
                            <tbody>
                          
                            <tr style="background-color:#e6a58f; color:white;">
                              <td width="10%"><strong>Date</strong></td>
                              <td width="10%"><strong>Weight</strong></td>
                              <td width="10%"><strong>Blood Pressure</strong></td>
                              <td width="10%"><strong>ABD. Measure</strong></td>
                              <td align="center" width="40%"><strong>Remarks</strong></td>
                            </tr>
                               {{#medicalData}}
                            <tr>
                              <td align="center">{{formatDate date}}</td>
                              <td>{{weight}}</td>
                              <td>{{bp}}</td>
                              <td>{{am}}</td>
                              <td>{{{remarks}}}</td>
                            </tr> 
                              {{/medicalData}}
                            
                            </tbody>
                      </table>
                       
                      </div>
                     
                    </td>
                </tr>  
              </tbody>
            </table>
          </div>
      </div>

    {{/each}}
  </body>

</html>